.frame{
    background: linear-gradient(0deg, rgba(41,190,176,1) 75%, rgba(18,153,140,1) 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.title{
    color: white;
    font-size: 20px;
    letter-spacing: 5px;
}

.desc{
    margin-bottom: 10px;
}

input[type="file"]{
    display: none;
}

.bottom{
    border-radius: 10px;
    width: 80%;
    height: 40%;
    background-color: rgb(38, 180, 165);
    border: 1px solid black;
    -webkit-box-shadow: 0px 6px 22px -5px rgba(102,102,102,0.5);
    -moz-box-shadow: 0px 6px 22px -5px rgba(102,102,102,0.5);
    box-shadow: 0px 6px 22px -5px rgba(102,102,102,0.5);
    display: flex;
    align-items: center;
    gap: 20px;
    padding:35px;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.inputForm{
    border: 4px dashed white;
    background-color: rgba(203, 203, 203, 0.603);
    border-radius: 10px;
    height: 200px;
    width: 100%;
    background-image: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    position: relative;
}

.hints1{
    position: absolute;
    transition: 0.4s ease;
    width: 100%;
    height: 100%;
    color: rgb(43, 43, 43);
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
}

.hints2{
    position: absolute;
    transition: 0.4s ease;
    background-color: rgba(255, 255, 255, 0.457);
    width: 100%;
    height: 100%;
    color: rgb(43, 43, 43);
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
}

.deleteBtn{
    font-size: large;
    cursor: pointer;
    margin-top: 10px;
    background-color: rgb(37, 86, 192);
    border-radius: 10px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 15px;
    transition: .3s ease;
}

.deleteBtn:hover{
    transform: scale(1.1);
    background-color: red;
}

.img{
    height: 100%;
    width: 100%;
    -webkit-box-shadow: 0px 6px 22px -5px rgba(102,102,102,0.5);
    -moz-box-shadow: 0px 6px 22px -5px rgba(102,102,102,0.5);
    box-shadow: 0px 6px 22px -5px rgba(102,102,102,0.5);
    border-radius: 10px;
}

.right{
    height: 250px;
    width: 100%;
    flex: 2;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;
}

.text{
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    height: 70%;
    overflow-y: auto;
    background-color: white;
    border: 1px solid black;
    -webkit-box-shadow: 0px 6px 22px -5px rgba(102,102,102,0.5);
-moz-box-shadow: 0px 6px 22px -5px rgba(102,102,102,0.5);
box-shadow: 0px 6px 22px -5px rgba(102,102,102,0.5);
}

.copybtn{
    background-color: rgb(37, 86, 192);
    border-radius: 10px;
    padding: 10px 20px;
    width: 65px;
    height:25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.copybtn:hover{
    background-color: red;
    transform: scale(1.1);
}

.progress-bar-container {
    height: 35px;
    width: 80%;
    border-radius: 10px;
    border: 2px solid white;
    background-color: rgba(90, 34, 173, 0.434);
    position: absolute;
  }
  
  .progress-bar {
    background-color: rgb(37, 49, 175);
    height: 100%;
    width: 0;
    transition: width 0.3s;
    border-radius: 10px;
  }
  
  .progress-bar-text {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  @media (max-width: 850px){
    .container{
        height: 100%;
    }

    .title{
        text-align: center;
    }

    .left{
        width: 100%;
    }

    .bottom{
        flex-direction: column;
        height: 60%;
    }
  }